<div class="container-lg">
  <h1>My Profile Page</h1>
  <hr>
  <div class="container-lg">
    <div class="row">
      <div class="col-md-4">
        <div class="card shadow mb-5 bg-body rounded">
          <div class="card-body">
            <%# raise %>
            <img src="https://picsum.photos/200" alt="" class="rounded-circle bg-danger ratio ratio-1x1 float-right ml-3" style="object-fit:cover; width:80px;">
            <h5 class="card-title">username placeholder</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <p><%= @user.email %></p>
            </h6>
            <p class="card-text">This user is lazy. They didn't leave any message here.</p>
            <a href="#" class="card-link">edit_placeholder</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h2>My Equipment</h2>
        <% @all_my_equipment.each do |equipment| %>
          
          <div class="card mb-3">
            <div class="row g-0 mx-0">
              <div class="col-4 p-0 border-right"
              style="background-image: url(
                <%= cl_image_path(equipment.photo.key,
                :transformation => {:effect => "blur:1000"}) %>);
                background-size: cover;">
                <%# raise %>
                <div style="background-image: url(<%= cl_image_path(equipment.photo.key) %>);
                background-size: contain; width: 100%; height: 100%; background-position: center; background-repeat: no-repeat;"></div>
                <%#= cl_image_tag equipment.photo.key, height: 'auto', width: '', style: "object-fit: contain" %>
              </div>
              <div class="col-8">
                <div class="card-body">
                  <h5 class="card-title"><%= link_to equipment.name, equipment_path(equipment) %></h5>
                  <p class="text-truncate card-text" style="max-height:50px;"><%= equipment.description %></p>
                  <small class="text-muted"><%= link_to "edit", edit_equipment_path(equipment) %></small>
                </div>
              </div>
            </div>
          </div>
          
        <% end %>
        <hr>
        <h2>My Reservations</h2>
        <% @my_reservations.each do |reservation| %>
          <p>
            <%= link_to reservation.equipment.name, reservation_path(reservation) %> :
            <%= reservation.start_date %> ~
            <%= reservation.end_date %> |
            <%= reservation.status %>
          </p>
        <% end %>
        <hr>
        <h2>Incoming Requests</h2>
        <% @all_my_equipment.each do |equipment| %>
          <% if equipment.reservations.present? %>
            <% equipment.reservations.each do |reservation| %>
              <p>
                <%= reservation.user.email %> wants to rent
                <%= equipment.name %> for
                <%= reservation.start_date %> to <%= reservation.end_date %> |
                <%= reservation.status %>
                <%= link_to "respond", reservation_path(reservation) %>
              </p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
