<div class="container text-center">
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <%# debug @equipment %>
    <% @equipment.each do |equipment| %>
      <div class="p-2">
        <div class="card">
          <% if equipment.photos.attached? %>
            <%#= cl_image_tag equipment.photos.first.key, height: '100px', width: '100px', style: "object-fit: cover"  %>
            <div class="p-0 border-right"
              style="width: 100%; height: 130px;
              background-image: url(
                <%= cl_image_path(equipment.photos.first.key,
                :transformation => {:effect => "blur:1000"}) %>);
                background-size: cover;">
              <%# raise %>
              <div class="" style="background-image: url(<%= cl_image_path(equipment.photos.first.key) %>);
                background-size: contain; width: 100%; height: 100%; background-position: center; background-repeat: no-repeat;"></div>
              <%#= cl_image_tag equipment.photo.key, height: 'auto', width: '', style: "object-fit: contain" %>
            </div>
          <% end %>
          <%# cl_image_tag equipment.photos.first.key, height: '200px', width: '100%', style: "object-fit: cover" %>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title"><%= equipment.name %></h5>
              <p class="card-text">$<%= equipment.price_per_day %>/day</p>
            </div>
            <p class="card-text"><%= equipment.description %></p>
            <%= link_to "View more", equipment_path(equipment), class: 'btn btn-primary stretched-link' %>
            <%# <a href="#" class="btn btn-primary stretched-link">Go somewhere</a> %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%# A map showing the where the equipment is %>
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
