<%= cl_image_tag @equipment.photo.key, height: 300, width: 400, crop: :fill %>
<h1><%= @equipment.name %></h1>
<h2>price per day: $<%= @equipment.price_per_day %></h2>
<hr>
<%= @equipment.description %>
<hr>
<p>
owned by <%= @equipment.user.email %>
</p>
<% if current_user != @equipment.user %>
  <%= link_to "Request to Rent", new_equipment_reservation_path(@equipment) %>
<% end %>
