<% @equipment.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<%# cl_image_tag @equipment.photos.key, height: 300, width: 400, crop: :fill %>
<h1><%= @equipment.name %></h1>
<h2>price per day: $<%= @equipment.price_per_day %></h2>
<hr>
<<<<<<< Updated upstream
<%= @equipment.description %>
<hr>
<p>
owned by <%= @equipment.user.email %>
</p>
<% if current_user != @equipment.user %>
  <%= link_to "Request to Rent", new_equipment_reservation_path(@equipment) %>
<% end %>
=======
<%# <h3>Related Equipment:</h3>
<%= @related_equipment.each do |equipment| %>
<%# <%= @equipment.name %>
<%# <% end %>
>>>>>>> Stashed changes
