<div class="container-fluid m-0 p-0">
  <div class="banner-image">
    <div class="banner-text">
      <h1>Rentrek</h1>
      <p>The outrek awaits, and we can help you get ready.</p>
      <div class="row">
        <%= link_to "List Your Equipment", new_equipment_path, class: "col-lg btn btn-secondary m-2" %>
        <%= link_to "See Listings", equipment_index_path, class: "col-lg btn btn-light m-2" %>
      </div>
    </div>
  </div>
</div>  

<div class="container">
<br>
  <h3>Newest Items</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
    <%# debug @equipment %>
    <% @new_equipment.each do |equipment| %>
      <div class="p-2">
        <div class="card">
          <div class="card-img-top">
            <% if equipment.photos.attached? %>
              <%#= cl_image_tag equipment.photos.first.key, height: '100px', width: '100px', style: "object-fit: cover"  %>
              <div class="p-0 border-right"
                style="width: 100%; height: 130px;
                background-image: url(
                  <%= cl_image_path(equipment.photos.first.key,
                  :transformation => {:effect => "blur:1000"}) %>);
                  background-size: cover;">
                <%# raise %>
                <div class="" style="background-image: url(<%= cl_image_path(equipment.photos.first.key) %>);
                  background-size: contain; width: 100%; height: 100%; background-position: center; background-repeat: no-repeat;"></div>
                <%#= cl_image_tag equipment.photo.key, height: 'auto', width: '', style: "object-fit: contain" %>
              </div>
            <% end %>
          </div>
          <%# cl_image_tag equipment.photos.first.key, height: '200px', width: '100%', style: "object-fit: cover" %>
          <div class="card-body">
            <h5 class="card-title"><%= equipment.name %></h5>
            <p class="card-text"><%= equipment.description %></p>
            <div class="d-flex justify-content-between">
              <%= link_to "View more", equipment_path(equipment), class: 'btn btn-primary stretched-link' %>
              <small class="text-muted">$<%= equipment.price_per_day %>/day</small>
            </div> 
            <%# <a href="#" class="btn btn-primary stretched-link">Go somewhere</a> %>
            <%# <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
            </div> %>
          </div>
        </div>
      </div>
    <% end %>
  </div>  
</div>

<%# <% @categories.each do |category| %>
  <%# <% equipment = Equipment.where(category: category) %>
  <%# <div class="card card-category bg-dark text-white"> %>
    <%# <img src="..." class="card-img" alt="..."> %>
    <%# <%= image_tag "home_page_elements/#{category.name}.jpg", class: "card-img img-category", alt: "#{category.name}" %>
    <%# <div class="card-img-overlay"> %>
    <%# </div> %>
  <%# </div> %>
<%# <% end %>

