<h1>This is where you see details of one reservation</h1>

<div>
  <p><%= @reservation.equipment.name %></p>
  <p><%= @reservation.start_date %> ~ <%= @reservation.end_date %></p>
  <p>rented by <%= @reservation.user.email %></p>
  <p>owned by <%= @reservation.equipment.user.email %></p>
</div>

<%= link_to "Edit", edit_reservation_path(@reservation) %>

<%= link_to "Delete",
            reservation_path(@reservation),
            method: :delete,
            data: { confirm: "Are you sure?" } %>