<!DOCTYPE html>
<html>
  <head>
    <title>Rentrek</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <% if notice.present? %>
      <div class="alert alert-success mb-0" role="alert"><%= notice %></div>
    <% elsif alert.present? %>
      <div class="alert alert-warning mb-0" role="alert"><%= alert %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
