<!DOCTYPE html>
<html>
  <head>
    <title>Rentrek</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <% if notice.present? %>
      <div class="flash flash-success alert alert-dismissible fade show" role="alert">
        <%= notice %>
        <a data-dismiss="alert" aria-label="Close">
        <i class="fas fa-times"></i>
      </div>
    <% elsif alert.present? %>
      <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
        <%= alert %>
        <a data-dismiss="alert" aria-label="Close">
        <i class="fas fa-times"></i>  
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
